<section class="highlight highlight--push" id="resume">
	<div class="container">
		<h3 class="sectionTitle">
			My<br>
			<strong>Resume</strong>
		</h3>
		<div class="row">
			<div class="two-thirds column">
				<article class="story">
					<h4 class="story__title">Experience</h4>
					<% data.resume.experience.each do |experience| %>
						<section class="story__entry">
							<h5 class="entry__title"><%= experience.title %></h5>
							<h6 class="entry__subtitle"><%= experience.company %></h6>
							<p class="entry__meta"><%= experience.start %> - <%= experience.end %></p>
							<% experience.quals.each do |qual| %>
								<p class="entry__para"><%= qual %></p>
							<% end %>
						</section>
					<% end %>
				</article>
			
				<article class="story">
					<h4 class="story__title">Education</h4>
					<% data.resume.education.each do |education| %>
						<section class="story__entry">
							<h5 class="entry__title"><strong><%= education.degree %></strong>, <%= education.major %></h5>
							<h6 class="entry__subtitle"><%= education.school %></h6>
							<p class="entry__meta"><%= education.start %> - <%= education.end %></p>
							<% education.quals.each do |qual| %>
								<p class="entry__para"><%= qual %></p>
							<% end %>
						</section>
					<% end %>
				</article>
			</div>
			<div class="one-third column">
				<aside class="story">
					<h4 class="story__title">Technology</h4>
					<ul class="story__list">
						<% data.resume.technology.each do |tech| %>
							<li><%= tech %></li>
						<% end %>
					</ul>
				</aside>
				<aside class="story">
					<h4 class="story__title">Projects</h4>
					<% data.portfolio.webWork.each do |project| %>
						<section class="story__entry">
							<h5 class="entry__title"><%= project.title %></h5>
							<p class="entry__para"><%= project.short %></p>
						</section>
					<% end %>
				</aside>
			</div>
		
		</div>
	</div>
</section>