---
title: Andrew Bash - Web Designer and Developer in Columbus, Ohio
---
<section class="hero" id="home">
  <div class="container">
    <h1 class="lightweight hero__title">
      Hi, I'm<br>
      <strong>Andrew Bash.</strong>
    </h1>
    <h2 class="lightweight hero__subtitle">Web Designer and Developer in Columbus, Ohio</h2>
    <section class="socialIcons">
      <a href="#" class="icon icon--facebook"><%= svg 'facebook' %></a>
      <a href="#" class="icon icon--linkedin"><%= svg 'linkedin' %></a>
      <a href="#" class="icon icon--twitter"><%= svg 'twitter' %></a>
      <a href="#" class="icon icon--github"><%= svg 'github' %></a>
    </section>
  </div>
</section>

<section class="container" id="about">
  <div class="container__inner primaryInfo">
    <div class="primaryInfo__content">
      <h3 class="sectionTitle">
        Passion.<br>
        Dedication.<br> 
        <strong>Hard Work.</strong>
      </h3>
      <p>I am a Web Designer and Developer from Columbus, Ohio. I live and breathe "web", and am constnatly seeking to improve and evolve my skillset.</p>
      <p>Take a look at my work, and if you're interested please don't hesitate to reach out.</p>
    </div>
  </div>
</section>

<%= partial "web-work" %>

<%= partial "design-work" %>

<%= partial "resume" %>

<%= partial "footer" %>